@{
	Layout = null;
}

@model Toders.FindMyContent.Models.FindMyContent.DetailsModel
@using EPiServer.Framework.Web.Resources
@using Toders.FindMyContent.Core
@using Toders.FindMyContent.Models.FindMyContent
@using EPiServer.Shell.Web.Mvc.Html

<!DOCTYPE html>

<html>
<head>
	<title>@ViewBag.Title</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

	<!-- Shell -->
	@Html.Raw(ClientResources.RenderResources("ShellCore"))
	@Html.Raw(ClientResources.RenderResources("ShellWidgets"))

	<!-- LightTheme -->
	@Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))

	<!-- Navigation -->
	@Html.Raw(ClientResources.RenderResources("Navigation"))

	<!-- Dojo Dashboard -->
	@Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))

</head>
<body>
	@Html.Raw(Html.ShellInitializationScript())
	<div class="epi-padding">

		<div class="epi-contentContainer epi-fullWidth">

			<div class="epi-contentArea">
				<h1 class="EP-prefix">@Model.ContentType.Name</h1>
				<p>Here you can find all content for your Content Type.</p>
			</div>

			<div class="epi-formArea">
				<table class="epi-default">
					<tbody>
						<tr>
							<th width="80">Id</th>
							<th>Name</th>
							<th width="180">Language</th>
							<th width="180"></th>
						</tr>
						@foreach (ContentSummaryModel content in Model.Content)
						{
							var summary = content.Summary;
							var masterLanguage = summary.Translations.First(t => t.Key == summary.MasterLanguage);
							<tr>
								<td rowspan="@summary.Translations.Count">@summary.ContentLink</td>
								<td>
									@masterLanguage.Value
								</td>
								<td>@masterLanguage.Key (Master Language)</td>
								<td><a href="@content.EditUrls[masterLanguage.Key]" target="_top">Edit content</a></td>

							</tr>
							foreach (var translation in summary.Translations.Where(t => t.Key != summary.MasterLanguage))
							{
								<tr>
									<td>
										@translation.Value
									</td>
									<td>@translation.Key</td>
									<td><a href="@content.EditUrls[translation.Key]" target="_top">Edit content</a></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
