@{
	Layout = null;
}

@model Toders.FindMyContent.Models.FindMyContent.OverviewModel
@using EPiServer.Framework.Web.Resources
@using Toders.FindMyContent.Models.FindMyContent
@using EPiServer.Shell.Web.Mvc.Html

@helper Table(IEnumerable<ContentTypeModel> contentTypes)
{
	<div class="epi-formArea">
		<table class="epi-default">
			<tbody>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th width="80">Category</th>
					<th width="120">Amount of content</th>
					<th width="120"></th>
				</tr>
				@foreach (var contentType in contentTypes)
				{
					<tr>
						<td>@contentType.Id</td>
						<td><a href="Details/@contentType.Id">@contentType.Name</a></td>
						<td>@contentType.Category</td>
						<td>@contentType.AmountOfContent</td>
						<td><a href="@Model.EditUrls[contentType.Id]">Edit Content Type</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

<!DOCTYPE html>

<html>
<head>
	<title>@ViewBag.Title</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

	<!-- Shell -->
	@Html.Raw(ClientResources.RenderResources("ShellCore"))
	@Html.Raw(ClientResources.RenderResources("ShellWidgets"))

	<!-- LightTheme -->
	@Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))

	<!-- Navigation -->
	@Html.Raw(ClientResources.RenderResources("Navigation"))

	<!-- Dojo Dashboard -->
	@Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))

</head>
<body>
	@Html.Raw(Html.ShellInitializationScript())
	<div class="epi-padding">

		<div class="epi-contentContainer epi-fullWidth">

			<div class="epi-contentArea">
				<h1 class="EP-prefix">Find My Content</h1>
				<p>Select which Content Type you would like to find.</p>
			</div>
			<h2>Pages</h2>
			@Table(Model.PageTypes)
			<h2>Blocks</h2>
			@Table(Model.BlockTypes)
			<h2>Media</h2>
			@Table(Model.MediaTypes)
			<h2>Other</h2>
			@Table(Model.OtherTypes)
		</div>
	</div>
</body>
</html>
